{% load static %}
<html>
    <head>
        <title>wwsrater</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="{% static '/css/rater.css' %}">
        <link rel="shortcut icon" href="{% static 'favicon.ico' %}"/>
        <meta name="viewport" content="width=device-width, user-scalable=no" />

        
    </head>
    
<body>
    <div class="page-header">

      <h1><a href="/home" class="title_">rater</a></h1>
    </div>
    <nav>
      <ul class="nav-container">
        <li class="nav-item"><a href="/home">메인</a></li>
        <li class="nav-item"><a href="/community">잡담실</a></li>
        <li class="nav-item"><a href="/rater">가채점</a></li>
        <li class="nav-item"><a href="/rankcal">내신확인</a></li>
        
        {% if user.is_authenticated %}
        <li class="nav-item-right"><a href="/accounts/logout">{{ user.username }}   (로그아웃)</a></li>
        {% else %}
        <li class="nav-item-right"><a href="/accounts/login">로그인</a></li>
        <li class="nav-item-right"><a href="/accounts/signup">회원가입</a></li>
        {% endif %}
          </ul>
        </li>    
      </ul>
    </nav>
    <br>
    <br>
    <br>
    <br>
    <br>
    <div class="content container">
        <div class="row">
            <div class="col-md-8">
            
            {% if user.is_authenticated %}
              {%block content%}
              {%endblock%}
            {% else %}
              <script type="text/javascript">
                alert('로그인을 먼저 해주세요')
                window.location.href = '/home'
              </script>
            {% endif %}
            </div>
        </div>
    </div>
</body>
</html>